@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .active {
      @apply !font-bold;
    }
  }
  
  
  @layer components {
    .primary-btn {
      @apply bg-blue-600 p-[5px] px-4 rounded-[50px] text-white font-bold hover:bg-red-700 transition-transform duration-300 ease-in-out transform hover:scale-105;
    }
  }
  @layer components {
    .blue-color {
      @apply text-[#0f2b9fd9];
    }
  }
  @layer components {
    .red-color {
      @apply text-[#ce003d];
    }
  }
  @layer components {
    .perspective {
      perspective: 1000px;
    }
    
    .card {
      @apply relative w-full h-full transition-transform duration-500;
      transform-style: preserve-3d;
    }
  
    .card-inner {
      @apply absolute w-full h-full transition-transform duration-500;
      transform-style: preserve-3d;
    }
  
    .card-front, .card-back {
      @apply absolute w-full h-full;
      backface-visibility: hidden;
    }
  
    .card-back {
      transform: rotateY(180deg);
    }
  
    .flipped .card-inner {
      transform: rotateY(180deg);
    }
  }
  
  
  
  

  * {
    /* font-family: "Open Sans", "sans-serif"; */
    font-size: 16px;
  }